@CHARSET "UTF-8";

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 나눔고딕, sans-serif;
	font-size: 15pt;
}

header {
	margin: 0 auto;
	height: 90px;
	width: 1000px !important;
}

section {
	top: 60px;
	height: 750px;
	border: 1px solid #b0c6df;
	width: 950px !important;
	overflow: auto;
	margin: 0 auto;
}

footer {
	margin: 1%;
	height: 90px;
	border: 1px solid #b0c6df;
	background: #BBB;
	padding: 20px;
	width: 1000px !important;
	margin: 0 auto;
}